<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="darrylsalive.postsecondarypassport">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".TempLoginActivity"
            android:label="@string/title_activity_temp_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainStudentActivity"
            android:label="@string/title_activity_main_student"
            android:parentActivityName=".TempLoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="darrylsalive.postsecondarypassport.TempLoginActivity" />
        </activity>
        <activity
            android:name=".NinthGradeActivity"
            android:label="@string/title_activity_ninth_grade"
            android:parentActivityName=".MainStudentActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="darrylsalive.postsecondarypassport.MainStudentActivity" />
        </activity>
        <activity
            android:name=".SMARTGoalsActivity"
            android:label="@string/title_activity_smartgoals"
            android:parentActivityName=".NinthGradeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="darrylsalive.postsecondarypassport.NinthGradeActivity" />
        </activity>
        <activity
            android:name=".SelfExplorationActivity"
            android:label="@string/title_activity_self_exploration"
            android:parentActivityName=".NinthGradeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="darrylsalive.postsecondarypassport.NinthGradeActivity" />
        </activity>
        <activity
            android:name=".FourYearPlanningActivity"
            android:label="@string/title_activity_four_year_planning"
            android:parentActivityName=".NinthGradeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="darrylsalive.postsecondarypassport.NinthGradeActivity" />
        </activity>
        <activity
            android:name=".VolunteeringServiceActivity"
            android:label="@string/title_activity_volunteering_service"
            android:parentActivityName=".NinthGradeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="darrylsalive.postsecondarypassport.NinthGradeActivity" />
        </activity>
    </application>

</manifest>
